{% extends 'base.html' %}
{% block title %}
已完成事項頁面
{% endblock %}
{% block css %}
<style>
    li {
        list-style-type: none;
        height: 50px;
    }

    ul {
        border-radius: 12px;
        width: 400px;
        background-color: aquamarine;
        padding: 24px;
    }

    .title {
        color: blueviolet;
        background-color: white;
        width: 300px;
        font-size: 36px;
        font-weight: 900;
    }

    a {
        color: black;
    }

    a:visited {
        color: black;
    }
</style>
{% endblock %}
{% block content %}
<h1>Completed Todo</h1>
{% if todos %}
{% for todo in todos %}
<ul>
    <li><small>{{todo.created}}</small></li>
    <li class="title">
        <a href="{% url 'view' todo.id %}"> {{todo.title|safe|truncatechars:10}}</a>

    </li>
    <li>
        {% if todo.important %}
        <span style="color:red">重要</span>
        {% endif %}
    </li>
</ul>
{% endfor %}
{% else %}
目前無已完成事項
{% endif %}
{% endblock %}
